<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardMapper">
	<select id="selectArticle" parameterType="hashmap" resultType="BoardRec"> 
		SELECT * 
		FROM article
		<where>			
			<if test="articleId != null">
				article_id = #{articleId}
			</if>
		</where> 
		ORDER BY sequence_no DESC
	</select>
	
	<select id="selectArticleByPage" parameterType="hashmap" resultType="BoardRec">
		SELECT * FROM 
			(SELECT ROW_NUMBER() OVER(ORDER BY sequence_no DESC) AS rnum
			, article_id
			, title
			, writer_name
			, posting_date
			, read_count
			, sequence_no  
			FROM article) a 
		WHERE rnum BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="selectGroupId" resultType="int">
		SELECT SEQ_GROUP_ID_ARTICLE.nextval AS group_id FROM dual
	</select>
	<select id="selectTotalCount" resultType="int">
		SELECT COUNT(*) cnt FROM article
	</select>
	
	<insert id="insertArticle" parameterType="BoardRec">
		INSERT INTO article 
		(
			article_id
			,group_id
			,sequence_no
			,posting_date
			,read_count
			,writer_name
			,password
			,title
			,content
		)
		VALUES
		(
			SEQ_ARTICLE_ID_ARTICLE.nextval
			,#{groupId}
			,#{sequenceNo}
			,sysdate
			,0
			,#{writerName}
			,#{password}
			,#{title}
			,#{content}
		)
	</insert>
	<select id="selectArticleId" resultType="int">
		SELECT SEQ_ARTICLE_ID_ARTICLE.currval AS article_id FROM dual
	</select>
	<update id="updateArticle" parameterType="BoardRec">
		UPDATE article SET title = #{title}, content = #{content} 
		WHERE article_id = #{articleId} AND password = #{password}
	</update>
	<update id="updateReadCount" parameterType="int">
		UPDATE article SET read_count = read_count + 1 WHERE article_id = #{articleId}
	</update>
	<select id="selectLastSeqNum" parameterType="hashmap" resultType='String'>
		SELECT min(sequence_no) as minseq FROM article WHERE sequence_no <![CDATA[<]]> #{maxSeqNum} AND sequence_no >= #{minSeqNum}
	</select>
	
</mapper>